<div
  class="lang-switch"
  @keydown.escape.window="closeLangMenu()"
  @click.outside="closeLangMenu()"
  @mouseenter="showSpeechI18n('ui.langHoverTip', { holdMs: null })"
  @mouseleave="_avatarSpeechI18nPath === 'ui.langHoverTip' && hideSpeech()"
  @focusin="showSpeechI18n('ui.langHoverTip', { holdMs: null })"
  @focusout="
    (!$event.relatedTarget || !$el.contains($event.relatedTarget)) &&
      _avatarSpeechI18nPath === 'ui.langHoverTip' &&
      hideSpeech()
  "
>
  <button
    type="button"
    class="lang-switch__btn"
    :class="langMenuOpen && 'lang-switch__btn--open'"
    :aria-label="t.ui.langLabel"
    :aria-expanded="langMenuOpen"
    aria-haspopup="listbox"
    aria-controls="lang-switch-menu"
    @click="toggleLangMenu()"
  >
    <img
      class="lang-switch__flag"
      :src="currentLocaleOption.flag"
      alt=""
      width="18"
      height="12"
      decoding="async"
      aria-hidden="true"
    />
    <span
      class="lang-switch__code"
      x-text="currentLocaleOption.code"
    ></span>
    <span
      class="lang-switch__chevron"
      aria-hidden="true"
      x-html="langMenuOpen ? icons.chevronUp : icons.chevronDown"
    ></span>
  </button>
  <ul
    id="lang-switch-menu"
    class="lang-switch__menu"
    role="listbox"
    :aria-label="t.ui.langLabel"
    x-show="langMenuOpen"
    x-cloak
  >
    <template x-for="option in localeList" :key="option.code">
      <li role="presentation">
        <button
          type="button"
          class="lang-switch__option lang-option"
          role="option"
          :aria-selected="locale === option.code"
          :class="locale === option.code && 'lang-switch__option--active'"
          @click="pickLocale(option.code)"
        >
          <img
            class="lang-switch__flag"
            :src="option.flag"
            alt=""
            width="18"
            height="12"
            decoding="async"
            aria-hidden="true"
          />
          <span
            class="lang-switch__name"
            x-text="option.nativeName"
          ></span>
        </button>
      </li>
    </template>
  </ul>
</div>
